.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lcontainer { 
  	max-width: 1200px;
}

.bg-light { 
    background: none !important;
}

.navbar { 
  	position: absolute;
  	top: 0;
  	width: 100%;
}

.navbar .navbar-toggler { border: none; }

.navbar .navbar-toggler:focus { outline: none; }

.navbar-light .navbar-nav .nav-link {
    color: #414a4a;
    font-family: 'proxima_nova_rgregular';
    padding-bottom: 0;
    padding-top: 0;
}

.topNav { 
    color: #0f69a8;
    display: flex;
    font-family: 'proxima_nova_rgregular';
    font-size: 20px;
    margin: 0 0 0 20px; 
}

.topNav strong { 
    font-family: 'proxima_novaextrabold';
    font-weight: normal;
    margin-left: 5px;
}

.homebanner { 
    background: url(images/home_banner_bg.jpg) no-repeat 0 0;
    background-size: 100% auto;
    height: 800px;
    padding: 95px 0 0 0;
    width: 100%;
}

.home_banner_text h1 { color: #040707; font-family: 'Montserrat', sans-serif; font-size: 68px; font-style: italic; font-weight: 800; margin: 0 0 15px 0; text-transform: uppercase;  }

.home_banner_text h1 span { color: #00a0ff; }

.home_banner_text p { color: #040707; font-family: 'proxima_nova_rgregular'; font-size: 20px; font-weight: normal; line-height: 26px; margin: 0 0 37px 0;  }

.home_banner_text .btn { background: url(images/btn-img3.png) no-repeat 0 0; border: none; font-family: 'proxima_novaextrabold'; font-size: 20px; font-weight: normal; height: 55px; line-height: 55px; padding: 0; width: 215px; }

.home_banner_img img { height: auto; max-width: 100%; width: auto; }

.bottomBanner { margin: 113px 0 52px 0; }

.bottomBanner h2 { 
    color: #040707;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.bottomBanner h3 { 
    color: #00a0ff;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.homefeatures { 
	background: url(images/home_features_box_bg.png) no-repeat 41px 69px;
	text-align: center;
}

.fBox { 
	border-radius: 15px;
	padding-bottom: 27px;
	padding-top: 36px;
}

.fBox:hover { 
	box-shadow: 0 0 10px rgba(95, 50, 147, 0.12);
	cursor: pointer;
}

.fBox .img_div { 
	max-height:76px;
  	margin-bottom: 45px;
  	text-align: center;
}

.fBox .img_div img { 
  	height: auto;
  	width: auto;
}

.fBox .text_div { 
	padding-left: 45px;
	padding-right: 45px;
  	text-align: center;
}

.fBox .text_div h2 {
	color: #000; 
	font-family: 'proxima_nova_rgregular';
  	font-size: 28px;
	margin: 0 0 17px 0;
}

.fBox .text_div p { 
  	color: #454545;
	font-family: 'proxima_novalight';
  	font-size: 16px;
	line-height: 24px;
	margin: 0 10px 0 10px;
}

.homefeatures .btn { 
	background: url(images/btn-img1.png) no-repeat 0 0;
	border: none;
	border-radius: 0;
	font-family: 'proxima_nova_rgbold';
	font-size: 16px;
	font-style: normal;
	line-height: 55px;
	margin: 61px 0 0 0;
	padding: 0 0 0 0;
	width: 235px;
}

.homeMSolutions { 
	background: url(images/home_merchant_bg.png) repeat-x 0 0;
	float: left;
	margin: 112px 0 0 0;
	min-height: 692px;
	padding: 82px 0 0 0;
	width: 100%;
}

.homeMSolutions h2 {
	font-family: 'proxima_novabold_italic';
	font-size: 42px;
	font-weight: normal;
	line-height: 55px; 
	margin: 0 0 84px 0;
	text-transform: uppercase;
}

.homeMSolutions h2 span { 
	color: #00a0ff;
}

.homeMSolutions .btn { 
	background: url(images/btn-img2.png) no-repeat 0 0;
	border: none;
	border-radius: 0;
	float: right;
	font-family: 'proxima_nova_rgbold';
	font-size: 16px;
	font-style: normal;
	line-height: 55px;
	margin: -139px 0 84px 0;
	padding: 0 0 0 0;
	width: 155px;
}

.mBox { 
	margin-bottom: 66px;
}

.mBox .img_div { 
	max-height:79px;
  	margin-bottom: 37px;
  	text-align: center;
}

.mBox .img_div img { 
  	height: auto;
  	width: auto;
}

.mBox .text_div { 
	padding-left: 45px;
	padding-right: 45px;
  	text-align: center;
}

.mBox .text_div h2 {
	color: #040707; 
	font-family: 'Montserrat', sans-serif;
  	font-size: 20px;
	font-style: italic;
	font-weight: 600;
	line-height: normal;
	margin: 0 0 17px 0;
	text-transform: none;
}

#header { 
	background: url(images/home_about_bg.png) no-repeat right -10px bottom;
	float: left;
	margin: 133px 0 0 0;
	padding: 0;
	width: 100%;
}

#header h1 { 
	color: #040707;
    font-family: 'Montserrat', sans-serif; 
    font-size: 42px;
	font-style: italic;
    font-weight: 700;
    margin: 0 0 24px 0;
	text-transform: uppercase;
}

#header h1 span { 
	color: #00a0ff;
}

#header p { 
    color: #4c535e;
	font-family: 'proxima_nova_rgregular';
    font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 20px 0;
}

#header .btn { 
	background: url(images/btn-img2.png) no-repeat 0 0;
	border: none;
	border-radius: 0;
	float: none;
	font-family: 'proxima_nova_rgbold';
	font-size: 16px;
	font-style: normal;
	line-height: 55px;
	margin: 40px 0 0 0;
	padding: 0;
	width: 155px;
}

.header_img { text-align: right; }

.header_img img { height: auto; max-width: 100%; } 

.home_testimonials { background: url(images/home_testimonials_bg.png) no-repeat 0 0; float: left; min-height: 759px; margin: 211px 0 0 0; padding: 155px 0 0 0; position: relative; width: 100%; }

.home_testimonials:before { background: url(images/home_features_box_bg.png) no-repeat 0 0; background-size: 70% auto; content: ""; height: 37px; left: 41px; position: absolute; top: -18px; width: 37px; }

.ltestContent { float: left; margin: 0 0 0 0; width: 58.333333%; }

.ltestContent h1 { color: #1b222c; font-family: 'Montserrat', sans-serif; font-size: 57px; font-style: italic; font-weight: 700; line-height: 63px; margin: 0 0 21px 0; text-transform: uppercase; }

.ltestContent h1 span { color: #00a0ff; } 

.ltestContent h3 { color: #091e3f; font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: 600; margin: 0 0 1px 0; }

.ltestContent h4 { color: #00a0ff; font-family: 'Montserrat', sans-serif; font-size: 15px; font-weight: 600; margin: 0 0 0 0; }

.ltestContent p { color: #1b222c; font-family: 'proxima_novalight'; font-size: 18px; font-weight: normal; line-height: 28px; margin: 0 0 29px 0; }

.footer { background: url(images/footer_bg.png) no-repeat 0 0; background-size: 100% auto; float: left; margin: -70px 0 0 0; min-height: 768px; padding: 0; position: relative; text-align: center; width: 100%; z-index: 1; }

.top_footer { padding: 35px 0 20px 0; }

.footerBox h2 {  color: #fff; font-size: 20px; font-weight: 700; margin: 0 0 20px 0; }

.footerBox { margin: 0 auto; max-width: 616px; padding: 0; text-align: center; width: 100$; }

.footerBox h1 { color: #fff; font-family: 'Montserrat', sans-serif; font-size: 67px; font-style: italic; font-weight: 700; margin: 0 0 21px 0; }

.footerBox p { color: #8b9cb6; font-family: 'proxima_novalight'; font-size: 17px; font-weight: normal; margin: 0 0 0 0; }

.newsLetters { float: left; list-style: none; margin: 37px 0 46px 0; padding: 0 19px 0 19px; width: 100%; }

.newsLetters li { float: left; margin: 0; padding: 0; width: 100%; }

.newsLetters li input[type="text"] { background: none; border: none; border-bottom: 1px solid #fff; color: #fff; float: left; font-family: 'proxima_novalight'; font-size: 22px; font-weight: normal; padding: 22px 0 22px 0; width: 100%; }

.newsLetters li input[type="text"]:focus { outline: none; }

.newsLetters li .btn { background: url(images/submit_btn.png) no-repeat 0 0; border: none; color: #fff; cursor: pointer; float: right; font-family: 'proxima_novalight'; font-size: 22px; font-weight: normal; height: 30px; margin: -50px 0 0 0; padding: 0; text-indent: -999em; width: 32px; }

.footer_logo { margin: -74px 0 150px 0; }

.bottom_footer { border-top: 1px solid #111f35; float: left; margin: 56px 0 0 0; padding: 35px 0 30px 0; width: 100%; }

.bottom_footer .footer_right_text { text-align: right; }

.bottom_footer p { color: #9ba6b5; font-family: 'proxima_novalight'; font-size: 16px; font-style: normal; margin: 0 0 0 0; }

.bottom_footer p span { color: #505b6c; }

.fSocial { float: right; list-style: none; margin: 0; padding: 0; width: auto; }

.fSocial li { float: left; margin: 0 0 0 41px; padding: 0; width: auto; }

.fSocial li a { color: #9ba6b5; cursor: pointer; display: block; font-size: 20px; }

.testImgSec { float: right; margin: 0 80px 0 0; }


@media screen and (max-width: 1366px) { 
.home_testimonials { background-size: 75% 100%; }

.footer { background-size: cover; margin: -75px 0 0 0; }
}


@media screen and (max-width:1199px) { 


}


@media screen and (max-width:991px) { 
.navbar-collapse { background-color: #fff; padding: 15px 0 15px 0; position: relative; z-index: 1; }

.navbar .navbar-nav .nav-link { color: #00a0ff; font-size: 18px;  margin: 0 0 10px 0; text-align: center; }

.navbar .navbar-nav .nav-link, .navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show, .navbar .navbar-nav .nav-link { color: #00a0ff; }	

.topNav { display: block; margin: 0; text-align: center; }

}


@media screen and (max-width:767px) { 
.home_banner_text { display: block !important; margin-bottom: 20px; text-align: center; }

.home_banner_text h1 { font-size: 32px; text-align: center; }

.home_banner_text p { font-size: 16px; line-height: 24px; text-align: center; }

.bottomBanner { margin: 40px 0 30px 0; }

.bottomBanner h2 { font-size: 32px; }

.bottomBanner h3 { font-size: 32px; }

.homefeatures .btn { margin: 20px 0 0 0; }

.homeMSolutions { margin: 40px 0 0 0; min-height: 0; text-align: center; }

.homeMSolutions h2 { font-size: 32px; margin: 0 0 30px 0; }

.homeMSolutions .btn { float: none; margin: 0 0 40px 0; }

.mBox { margin-bottom: 40px; }

#header { margin: 0; text-align: center; }

.aboutTextContent { display: block !important; padding-top: 0 !important; }

#header h1 { font-size: 32px; }

#header .btn { margin: 30px 0 40px 0; }

.home_testimonials { background: #e4f2ff; margin: 90px 0 0 0; min-height: 0; padding: 40px 0 0 0; }

.home_testimonials:before { top: -60px; }

.testImgSec { margin: 0; text-align: center; width: 100%; }

.ltestContent { padding: 40px 15px 150px 15px; text-align: center; width: 100%; }

.ltestContent h1 { font-size: 32px; line-height: 42px; }

.ltestContent p { font-size: 16px; line-height: 26px; }

.footer { background-position: center 0; }

.footerBox { padding: 0 15px 0 15px; }

.footer_logo { margin: -74px 0 40px 0; }

.footerBox h1 { font-size: 32px; }

.footerBox p { font-size: 16px; line-height: 26px; }

.newsLetters { padding: 0; }

.bottom_footer { margin: 30px 0 0 0; }

.fSocial { margin: 20px 0 0 0; text-align: center; width: 100%; }

.fSocial li { display: inline-block; float: none; margin: 0 20px 0 20px; }
}
